In [2]:
((500//7) % 5) ** 3

1

In [3]:
s = 'I love python'
s[0]

'I'

In [4]:
s[2]

'l'

In [17]:
s[-11:-7]

'love'

In [13]:
idx=0
for i in s:
    print(i)
    print("index:",idx)
    idx+=1

I
index: 0

index: 1
l
index: 2
o
index: 3
v
index: 4
e
index: 5

index: 6
p
index: 7
y
index: 8
t
index: 9
h
index: 10
o
index: 11
n
index: 12

In [20]:
l=[1,2,3]
l*2

[1, 2, 3, 1, 2, 3]

In [23]:
 L = [[1, 2, 3], [4, 5, 6], [7, 8, 9, 10]]
L[2:]

[[7, 8, 9, 10]]

In [32]:
D = {1:['Raj', 22], 2:['Simran', 21], 3:['Rahul', 40]}
for val in D:
     print(val)

1
2
3

In [36]:
paragraph = ['sandip rath']
single_word_list=[]
for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)
single_word_list

['sandip', 'rath']

In [37]:
def my_func(*args):
    return(sum(args))

print(my_func(1,2,3,4,5))
print(my_func(6,7,8))

15
21

In [42]:
l=[1,2,3,4]

list(map(lambda x:x**2,l))

n= 4
x=list(range(1,n+1))
print(x)

[1, 2, 3, 4]

In [68]:
from functools import reduce

n=4
#x=list(range(1,n+1))


print(reduce(lambda x,y:x*y,range(1,n+1)))

24

In [58]:
def recur_factorial(n):
   """Function to return the factorial
   of a number using recursion"""
   if n == 1:
       return n
   else:
       return n*recur_factorial(n-1)
num = 7

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   print("The factorial of",num,"is",recur_factorial(num))

The factorial of 7 is 5040

In [80]:
c=[2, 5, 9, 12, 13, 15, 16, 17, 18, 19]
f=[1, 2, 5, 9, 10, 11, 12, 13, 15, 20] 
h=[2, 4, 5, 6, 7, 9, 13, 16, 20]

c1=set(c)
h1=set(h)
f1=set(f)

print(c1.intersection(h1).intersection(f1))
c_h= c1.intersection(f1)
print(c_h.difference(h1))

y=set(c1)&set(f1)&set(h1)

print(sorted(list(((set(c1)&set(f1))|(set(h1)&set(f1))|(set(c1)&set(h1)))-y)))

{9, 2, 13, 5}
{12, 15}
[12, 15, 16, 20]